In [1]:
import pandas as pd
import csv
import time
import matplotlib.pyplot as plt

sleep
---

In [2]:
test = pd.read_csv("levelsmap_concat.csv")
#轉時間
test['start_date_new']=test['startTimeInSeconds'].apply(
    lambda x: time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x+8*3600)) if not(pd.isnull(x)) else x)
test['end_date_new']=test['endTimeInSeconds'].apply(
    lambda x: time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x+8*3600)) if not(pd.isnull(x)) else x)
test["new_id"]=test["id"].apply(lambda x:x.replace("levelsmap_",""))
test = test.sort_values(by=['new_id','start_date_new'])
test

,date,endTimeInSeconds,id,sleepLevels,startTimeInSeconds,summaryId,start_date_new,end_date_new,new_id
11075,927.0,1601158980,1091_mr_levelsmap_1,light,1601157000,x339afaf-5f6fb788-6180,2020-09-27 05:50:00,2020-09-27 06:23:00,1091_mr_1
11096,928.0,1601158980,1091_mr_levelsmap_1,light,1601157000,x339afaf-5f6fb788-6180,2020-09-27 05:50:00,2020-09-27 06:23:00,1091_mr_1
11135,930.0,1601158980,1091_mr_levelsmap_1,light,1601157000,x339afaf-5f6fb788-6180,2020-09-27 05:50:00,2020-09-27 06:23:00,1091_mr_1
11069,927.0,1601160120,1091_mr_levelsmap_1,deep,1601158980,x339afaf-5f6fb788-6180,2020-09-27 06:23:00,2020-09-27 06:42:00,1091_mr_1
11090,928.0,1601160120,1091_mr_levelsmap_1,deep,1601158980,x339afaf-5f6fb788-6180,2020-09-27 06:23:00,2020-09-27 06:42:00,1091_mr_1
...,...,...,...,...,...,...,...,...,...
112112,NaN,1653699840,1102_mrw_levelsmap_9,rem,1653698880,x46bc4c4-6291096c-66a8,2022-05-28 08:48:00,2022-05-28 09:04:00,1102_mrw_9
112148,NaN,1653699840,1102_mrw_levelsmap_9,rem,1653698880,x46bc4c4-6291096c-7080,2022-05-28 08:48:00,2022-05-28 09:04:00,1102_mrw_9
112139,NaN,1653700800,1102_mrw_levelsmap_9,awake,1653699840,x46bc4c4-6291096c-7080,2022-05-28 09:04:00,2022-05-28 09:20:00,1102_mrw_9
112131,NaN,1653701400,1102_mrw_levelsmap_9,light,1653700800,x46bc4c4-6291096c-7080,2022-05-28 09:20:00,2022-05-28 09:30:00,1102_mrw_9
112149,NaN,1653703320,1102_mrw_levelsmap_9,rem,1653701400,x46bc4c4-6291096c-7080,2022-05-28 09:30:00,2022-05-28 10:02:00,1102_mrw_9

In [3]:
#刪掉重複值
data = test.drop_duplicates(subset=['start_date_new','new_id'],keep="first").copy()

#建立一個column，用來放等等判斷式的值
data['sleep'] = None

#判斷睡眠的時段
num=1
l = ['sleep1']
for i in range(1,74063):  
    if data.iloc[i]['start_date_new'] != data.iloc[i-1]['end_date_new']:
        num+=1
        l.append('sleep{}'.format(num))
    else:
        l.append('sleep{}'.format(num))

#把list放進dataframe
data['sleep'] = l
data

,date,endTimeInSeconds,id,sleepLevels,startTimeInSeconds,summaryId,start_date_new,end_date_new,new_id,sleep
11075,927.0,1601158980,1091_mr_levelsmap_1,light,1601157000,x339afaf-5f6fb788-6180,2020-09-27 05:50:00,2020-09-27 06:23:00,1091_mr_1,sleep1
11069,927.0,1601160120,1091_mr_levelsmap_1,deep,1601158980,x339afaf-5f6fb788-6180,2020-09-27 06:23:00,2020-09-27 06:42:00,1091_mr_1,sleep1
11076,927.0,1601162400,1091_mr_levelsmap_1,light,1601160120,x339afaf-5f6fb788-6180,2020-09-27 06:42:00,2020-09-27 07:20:00,1091_mr_1,sleep1
11070,927.0,1601163420,1091_mr_levelsmap_1,deep,1601162400,x339afaf-5f6fb788-6180,2020-09-27 07:20:00,2020-09-27 07:37:00,1091_mr_1,sleep1
11077,927.0,1601166180,1091_mr_levelsmap_1,light,1601163420,x339afaf-5f6fb788-6180,2020-09-27 07:37:00,2020-09-27 08:23:00,1091_mr_1,sleep1
...,...,...,...,...,...,...,...,...,...,...
112096,NaN,1653698880,1102_mrw_levelsmap_9,light,1653698400,x46bc4c4-6291096c-66a8,2022-05-28 08:40:00,2022-05-28 08:48:00,1102_mrw_9,sleep31672
112112,NaN,1653699840,1102_mrw_levelsmap_9,rem,1653698880,x46bc4c4-6291096c-66a8,2022-05-28 08:48:00,2022-05-28 09:04:00,1102_mrw_9,sleep31672
112139,NaN,1653700800,1102_mrw_levelsmap_9,awake,1653699840,x46bc4c4-6291096c-7080,2022-05-28 09:04:00,2022-05-28 09:20:00,1102_mrw_9,sleep31672
112131,NaN,1653701400,1102_mrw_levelsmap_9,light,1653700800,x46bc4c4-6291096c-7080,2022-05-28 09:20:00,2022-05-28 09:30:00,1102_mrw_9,sleep31672
112149,NaN,1653703320,1102_mrw_levelsmap_9,rem,1653701400,x46bc4c4-6291096c-7080,2022-05-28 09:30:00,2022-05-28 10:02:00,1102_mrw_9,sleep31672

In [4]:
import datetime

new=[]
for i in range(0,74063):
  date,daytime=data.iloc[i]['start_date_new'].split(' ')
  daytime=int(daytime.split(':')[0])
  daytime
  if daytime < 12:
    ori=datetime.datetime.strptime(date, '%Y-%m-%d') - datetime.timedelta(days=1)
    new.append(ori)
  else:
    new.append(date)

data['date_new'] = new

#算出持續時間
data['last_time'] = data['endTimeInSeconds']-data['startTimeInSeconds']
data

<ipython-input-4-378a01e16dc9>:14: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  data['date_new'] = new

,date,endTimeInSeconds,id,sleepLevels,startTimeInSeconds,summaryId,start_date_new,end_date_new,new_id,sleep,date_new,last_time
11075,927.0,1601158980,1091_mr_levelsmap_1,light,1601157000,x339afaf-5f6fb788-6180,2020-09-27 05:50:00,2020-09-27 06:23:00,1091_mr_1,sleep1,2020-09-26,1980
11069,927.0,1601160120,1091_mr_levelsmap_1,deep,1601158980,x339afaf-5f6fb788-6180,2020-09-27 06:23:00,2020-09-27 06:42:00,1091_mr_1,sleep1,2020-09-26,1140
11076,927.0,1601162400,1091_mr_levelsmap_1,light,1601160120,x339afaf-5f6fb788-6180,2020-09-27 06:42:00,2020-09-27 07:20:00,1091_mr_1,sleep1,2020-09-26,2280
11070,927.0,1601163420,1091_mr_levelsmap_1,deep,1601162400,x339afaf-5f6fb788-6180,2020-09-27 07:20:00,2020-09-27 07:37:00,1091_mr_1,sleep1,2020-09-26,1020
11077,927.0,1601166180,1091_mr_levelsmap_1,light,1601163420,x339afaf-5f6fb788-6180,2020-09-27 07:37:00,2020-09-27 08:23:00,1091_mr_1,sleep1,2020-09-26,2760
...,...,...,...,...,...,...,...,...,...,...,...,...
112096,NaN,1653698880,1102_mrw_levelsmap_9,light,1653698400,x46bc4c4-6291096c-66a8,2022-05-28 08:40:00,2022-05-28 08:48:00,1102_mrw_9,sleep31672,2022-05-27,480
112112,NaN,1653699840,1102_mrw_levelsmap_9,rem,1653698880,x46bc4c4-6291096c-66a8,2022-05-28 08:48:00,2022-05-28 09:04:00,1102_mrw_9,sleep31672,2022-05-27,960
112139,NaN,1653700800,1102_mrw_levelsmap_9,awake,1653699840,x46bc4c4-6291096c-7080,2022-05-28 09:04:00,2022-05-28 09:20:00,1102_mrw_9,sleep31672,2022-05-27,960
112131,NaN,1653701400,1102_mrw_levelsmap_9,light,1653700800,x46bc4c4-6291096c-7080,2022-05-28 09:20:00,2022-05-28 09:30:00,1102_mrw_9,sleep31672,2022-05-27,600
112149,NaN,1653703320,1102_mrw_levelsmap_9,rem,1653701400,x46bc4c4-6291096c-7080,2022-05-28 09:30:00,2022-05-28 10:02:00,1102_mrw_9,sleep31672,2022-05-27,1920

In [5]:
data2 = data[['sleepLevels','date_new','start_date_new','new_id','last_time','sleep']]

#groupby 算出睡眠時間總和
each_data = data2.groupby(['new_id','sleep']).sum()

#加上日期，方便分析
a=0
datetime = ['2020-09-26']
starttime = ['2020-09-27 05:50:00']
for i in range(1,74063):
    if data2.iloc[i]['sleep'] != data2.iloc[i-1]['sleep']:
      
        datetime.append(data2.iloc[i]['date_new'])
        starttime.append(data2.iloc[i]['start_date_new'])
        a+=1
each_data['date_time'] = datetime
each_data['starttime'] = starttime

#算出深層睡眠時間總和
deep = data2[(data2['sleepLevels'] == 'deep')].groupby(['new_id','sleep','sleepLevels']).sum()
deep.rename(columns={'last_time': 'last_time_deep'}, inplace=True)

#合併睡眠時間和深眠時間，並算比例
merge = pd.merge(each_data,deep,how='outer', on=['new_id','sleep'])
merge['deep_rate'] = merge['last_time_deep']/merge['last_time']
merge['deep_rate'].fillna(value=0,inplace=True)
merge.reset_index('sleep',inplace=True)
merge

<ipython-input-5-d07a48268c5a>:15: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  each_data['date_time'] = datetime

,sleep,last_time,date_time,starttime,last_time_deep,deep_rate
new_id,,,,,,
1091_mr_1,sleep1,24960,2020-09-26,2020-09-27 05:50:00,15240.0,0.610577
1091_mr_1,sleep10,5340,2020-09-27,2020-09-28 02:42:00,NaN,0.000000
1091_mr_1,sleep100,2820,2020-09-27,2020-09-28 02:49:00,300.0,0.106383
1091_mr_1,sleep101,7980,2020-09-27,2020-09-28 03:26:00,NaN,0.000000
1091_mr_1,sleep102,10320,2020-09-27,2020-09-28 03:44:00,3600.0,0.348837
...,...,...,...,...,...,...
1102_mrw_9,sleep31668,14700,2022-05-25,2022-05-26 02:45:00,4560.0,0.310204
1102_mrw_9,sleep31669,13080,2022-05-26,2022-05-26 12:39:00,NaN,0.000000
1102_mrw_9,sleep31670,31800,2022-05-26,2022-05-26 22:11:00,3540.0,0.111321
1102_mrw_9,sleep31671,16740,2022-05-27,2022-05-28 01:25:00,2280.0,0.136201
1102_mrw_9,sleep31672,15480,2022-05-27,2022-05-28 05:44:00,NaN,0.000000

In [117]:
merge.nunique()

sleep             31672
last_time           522
date_time           229
starttime         27175
last_time_deep      252
deep_rate          2757
dtype: int64

epochs處理
---

In [6]:
import re

#epochs處理
epochs = pd.read_csv("epochs_concat.csv")

#日期換算時區
epochs['date_new']=epochs['startTimeInSeconds'].apply(
    lambda x: time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x+8*3600)) if not(pd.isnull(x)) else x) 

#epochs
epochs.dropna(axis=0,how='all',subset=['date_new'],inplace=True)
epochs["new_id"]=epochs["id"].apply(lambda x:x.replace("epochs_",""))
epochs = epochs.sort_values(by=['new_id','date_new'])

#只留running和walking
epochs=epochs[(epochs["activityType"]=="WALKING")|(epochs["activityType"]=="RUNNING")]

#算日期
epochs['date_time']=epochs['date_new'].apply(
    lambda x: re.search('\d{4}\-\d{2}\-\d{2}',x).group())
epochs

,activeKilocalories,activeTimeInSeconds,activityType,date,distanceInMeters,durationInSeconds,intensity,maxMotionIntensity,meanMotionIntensity,met,id,startTimeInSeconds,startTimeOffsetInSeconds,steps,summaryId,date_new,new_id,date_time
27168,0.0,60.0,WALKING,927.0,10.47,900.0,ACTIVE,2.0,2.000000,1.000000,1091_mr_epochs_1,1.601077e+09,28800.0,13.0,x339afaf-5f6e7d78-6,2020-09-26 07:30:00,1091_mr_1,2020-09-26
27172,0.0,60.0,WALKING,927.0,15.30,900.0,ACTIVE,2.0,2.000000,1.000000,1091_mr_epochs_1,1.601079e+09,28800.0,19.0,x339afaf-5f6e8804-6,2020-09-26 08:15:00,1091_mr_1,2020-09-26
27174,0.0,60.0,WALKING,927.0,8.05,900.0,ACTIVE,1.0,1.000000,1.000000,1091_mr_epochs_1,1.601080e+09,28800.0,10.0,x339afaf-5f6e8b88-6,2020-09-26 08:30:00,1091_mr_1,2020-09-26
27293,0.0,15.0,WALKING,927.0,7.25,900.0,ACTIVE,2.0,2.000000,1.000000,1091_mr_epochs_1,1.601186e+09,28800.0,9.0,x339afaf-5f702a60-6,2020-09-27 14:00:00,1091_mr_1,2020-09-27
27295,28.0,360.0,WALKING,927.0,296.35,900.0,ACTIVE,1.0,1.000000,4.316881,1091_mr_epochs_1,1.601187e+09,28800.0,368.0,x339afaf-5f702de4-6,2020-09-27 14:15:00,1091_mr_1,2020-09-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299453,65.0,864.0,WALKING,NaN,1278.08,900.0,ACTIVE,3.0,3.000000,3.869523,1102_mrw_epochs_9,1.653735e+09,28800.0,1596.0,x46bc4c4-6291fd2c-6,2022-05-28 18:45:00,1102_mrw_9,2022-05-28
299454,41.0,579.0,WALKING,NaN,710.31,900.0,ACTIVE,2.0,2.000000,3.700942,1102_mrw_epochs_9,1.653736e+09,28800.0,887.0,x46bc4c4-629200b0-6,2022-05-28 19:00:00,1102_mrw_9,2022-05-28
299456,6.0,55.0,WALKING,NaN,50.45,900.0,ACTIVE,1.0,1.000000,5.161008,1102_mrw_epochs_9,1.653736e+09,28800.0,63.0,x46bc4c4-62920434-6,2022-05-28 19:15:00,1102_mrw_9,2022-05-28
299460,1.0,45.0,WALKING,NaN,99.30,900.0,HIGHLY_ACTIVE,3.0,2.666667,1.847613,1102_mrw_epochs_9,1.653738e+09,28800.0,124.0,x46bc4c4-62920b3c-6,2022-05-28 19:45:00,1102_mrw_9,2022-05-28
299462,2.0,17.0,WALKING,NaN,37.64,900.0,HIGHLY_ACTIVE,2.0,2.000000,5.487606,1102_mrw_epochs_9,1.653739e+09,28800.0,47.0,x46bc4c4-62920ec0-6,2022-05-28 20:00:00,1102_mrw_9,2022-05-28

In [7]:
epochs2=epochs[["new_id","date_time","activeTimeInSeconds","activityType",'date_new']]
epochs2["date_time"] = pd.to_datetime(epochs2["date_time"])
epochs2["date_new"] = pd.to_datetime(epochs2["date_new"])
epochs_final=epochs2.groupby(['new_id','date_time','activityType']).sum()
epochs_final.reset_index(['date_time','activityType'],inplace=True)
epochs_final

<ipython-input-7-12914cd190a1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epochs2["date_time"] = pd.to_datetime(epochs2["date_time"])
<ipython-input-7-12914cd190a1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epochs2["date_new"] = pd.to_datetime(epochs2["date_new"])

            date_time activityType  activeTimeInSeconds
new_id
1091_mr_1  2020-09-26      WALKING                180.0
1091_mr_1  2020-09-27      WALKING               2680.0
1091_mr_1  2020-09-28      WALKING                360.0
1091_mr_1  2020-09-29      WALKING               5271.0
1091_mr_1  2020-09-30      RUNNING                120.0
...               ...          ...                  ...
1102_mrw_9 2022-05-24      WALKING               2082.0
1102_mrw_9 2022-05-25      WALKING               2273.0
1102_mrw_9 2022-05-26      WALKING               1673.0
1102_mrw_9 2022-05-27      WALKING               2613.0
1102_mrw_9 2022-05-28      WALKING               2899.0

[3658 rows x 3 columns]

In [116]:
epochs_final.nunique()

date_time               263
activityType              2
activeTimeInSeconds    2502
dtype: int64

In [8]:
epochs3 = epochs2.drop_duplicates(subset=['date_time','new_id',"activityType"],keep="last").copy()
epochs3.set_index(['new_id'],inplace=True)
epochs3

            date_time  activeTimeInSeconds activityType            date_new
new_id
1091_mr_1  2020-09-26                 60.0      WALKING 2020-09-26 08:30:00
1091_mr_1  2020-09-27                245.0      WALKING 2020-09-27 16:30:00
1091_mr_1  2020-09-28                 60.0      WALKING 2020-09-28 10:00:00
1091_mr_1  2020-09-29                379.0      WALKING 2020-09-29 15:30:00
1091_mr_1  2020-09-30                 60.0      RUNNING 2020-09-30 13:45:00
...               ...                  ...          ...                 ...
1102_mrw_9 2022-05-24                  7.0      WALKING 2022-05-24 22:45:00
1102_mrw_9 2022-05-25                 44.0      WALKING 2022-05-25 23:30:00
1102_mrw_9 2022-05-26                  9.0      WALKING 2022-05-26 20:45:00
1102_mrw_9 2022-05-27                  6.0      WALKING 2022-05-27 23:00:00
1102_mrw_9 2022-05-28                 17.0      WALKING 2022-05-28 20:00:00

[3658 rows x 4 columns]

In [380]:
epochs3.nunique()

date_time               263
activeTimeInSeconds     447
activityType              2
date_new               2495
dtype: int64

合併資料集
---

In [381]:
sleepepochs = pd.merge(epochs_final, merge, how="outer", on=['new_id','date_time'])
mean=sleepepochs['last_time_deep'].mean()
sleepepochs['last_time_deep'].fillna(value=mean,inplace=True)
sleepepochs['activeTimeInSeconds'].fillna(value=0,inplace=True)

sleepepochs['deep_rate']= sleepepochs['last_time_deep']/sleepepochs['last_time']
sleepepochs.dropna(axis=0,how='any',subset=['sleep'],inplace=True)
sleepepochs.reset_index(inplace=True)
sleepepochs

,new_id,date_time,activityType,activeTimeInSeconds,sleep,last_time,starttime,last_time_deep,deep_rate
0,1091_mr_1,2020-09-26,WALKING,180.0,sleep1,24960.0,2020-09-27 05:50:00,15240.000000,0.610577
1,1091_mr_1,2020-09-27,WALKING,2680.0,sleep10,5340.0,2020-09-28 02:42:00,1893.787166,0.354642
2,1091_mr_1,2020-09-27,WALKING,2680.0,sleep100,2820.0,2020-09-28 02:49:00,300.000000,0.106383
3,1091_mr_1,2020-09-27,WALKING,2680.0,sleep101,7980.0,2020-09-28 03:26:00,1893.787166,0.237317
4,1091_mr_1,2020-09-27,WALKING,2680.0,sleep102,10320.0,2020-09-28 03:44:00,3600.000000,0.348837
...,...,...,...,...,...,...,...,...,...
48039,1102_mrw_9,2022-03-16,NaN,0.0,sleep31613,21120.0,2022-03-17 01:12:00,4440.000000,0.210227
48040,1102_mrw_9,2022-03-17,NaN,0.0,sleep31614,34080.0,2022-03-17 21:33:00,6060.000000,0.177817
48041,1102_mrw_9,2022-03-27,NaN,0.0,sleep31621,40620.0,2022-03-27 20:49:00,11400.000000,0.280650
48042,1102_mrw_9,2022-04-19,NaN,0.0,sleep31643,18960.0,2022-04-20 02:43:00,2760.000000,0.145570
48043,1102_mrw_9,2022-05-18,NaN,0.0,sleep31661,34020.0,2022-05-18 23:14:00,1200.000000,0.035273

In [275]:
sleepepochs.nunique()

new_id                    76
date_time                229
activityType               2
activeTimeInSeconds     1812
sleep                  31672
last_time                522
starttime              27175
last_time_deep           253
deep_rate               3072
dtype: int64

In [115]:
#語萱要用的
'''
sleepepochs1 = pd.merge(epochs3, merge, on=['new_id','date_time'])
sleepepochs1.reset_index(inplace=True)
sleepepochs1.rename(columns={'date_new':'activity_start_time',},inplace=True)
sleepepochs1['if_in_2hr']=sleepepochs1['if_in_2hr'].apply(lambda x: 0 if sleepepochs1['if_in_2hr'])
'''

"\nsleepepochs1 = pd.merge(epochs3, merge, on=['new_id','date_time'])\nsleepepochs1.reset_index(inplace=True)\nsleepepochs1.rename(columns={'date_new':'activity_start_time',},inplace=True)\nsleepepochs1['if_in_2hr']=sleepepochs1['if_in_2hr'].apply(lambda x: 0 if sleepepochs1['if_in_2hr'])\n"

迴歸模型(單項式)－運動時長VS深層睡眠的時長
---

In [383]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [384]:
#單項式回歸

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

X = sleepepochs.iloc[: ,3].values #運動時長
y = sleepepochs.iloc[: ,-2].values #深層睡眠的時長

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

X_train=X_train.reshape(-1,1)
X_test=X_test.reshape(-1,1)
y_train=y_train.reshape(-1,1)
y_test=y_test.reshape(-1,1)

sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

np.set_printoptions(precision=2)
intercep=regressor.fit(X_train, y_train).intercept_
coef=regressor.fit(X_train, y_train).coef_
print('截距：',intercep)
print('係數：',coef)
print('方程式：y={:.2f}X+{:.7f}'.format(coef[0][0],intercep[0]))
print('訓練準確度：',regressor.score(X_train,y_train))
print('模型準確度：',regressor.score(X_test,y_test))

截距： [1896.42]
係數： [[-16.43]]
方程式：y=-16.43X+1896.4176300
訓練準確度： 0.00017944683636961223
模型準確度： -0.00025212871480140286

迴歸模型(單項式)－運動時長VS深層睡眠的比率
---

In [323]:
#二項式回歸

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

X = sleepepochs.iloc[: ,3].values #運動時長
y = sleepepochs.iloc[: ,-1].values #深層睡眠的比率

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)
X_train=X_train.reshape(-1,1)
X_test=X_test.reshape(-1,1)
y_train=y_train.reshape(-1,1)
y_test=y_test.reshape(-1,1)

sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

poly_reg=PolynomialFeatures(degree=2)
X_poly=poly_reg.fit_transform(X_train)
lin_reg_2=LinearRegression()
lin_reg_2.fit(X_train, y_train)

y_pred = lin_reg_2.predict(X_test)
np.set_printoptions(precision=2)
intercep=lin_reg_2.fit(X_train, y_train).intercept_
coef=lin_reg_2.fit(X_train, y_train).coef_
print('截距：',intercep)
print('係數：',coef)
print('方程式：y={:.2f}X+{:.7f}'.format(coef[0][0],intercep[0]))
print('訓練準確度：',lin_reg_2.score(X_train,y_train))
print('模型準確度：',lin_reg_2.score(X_test,y_test))

截距： [1.49]
係數： [[0.02]]
方程式：y=0.02X+1.4931883
訓練準確度： 8.640705155493755e-05
模型準確度： -0.000494242232635056

重新調整資料集－以睡眠階段為主
---

In [386]:
#RUNNING調整
fliter1 = (sleepepochs["activityType"] == "RUNNING")
redo1=sleepepochs[fliter1][['new_id','date_time','activeTimeInSeconds']]
redo1.rename(columns={'activeTimeInSeconds': 'RUNNING'}, inplace=True)
redo1 = redo1.groupby(['new_id','date_time']).sum()
redo1.reset_index(inplace=True)

#WALKING調整
fliter2 = (sleepepochs["activityType"] == "WALKING")
redo2=sleepepochs[fliter2][['new_id','date_time','activeTimeInSeconds']]
redo2.rename(columns={'activeTimeInSeconds': 'Walking'}, inplace=True)
redo2 = redo2.groupby(['new_id','date_time']).sum()
redo2.reset_index(inplace=True)
redo2

#資料合併
epochs_final2 = pd.merge(redo1, redo2, how="outer", on=['new_id','date_time'])
sleepepochs2 = pd.merge(epochs_final2, merge, how="outer", on=['new_id','date_time'])
sleepepochs2['RUNNING'].fillna(value=0,inplace=True)
sleepepochs2['Walking'].fillna(value=0,inplace=True)

mean=sleepepochs2['deep_rate'].mean()
sleepepochs2['deep_rate'].replace(0,mean,inplace=True)
sleepepochs2['last_time_deep']= sleepepochs2['last_time']*sleepepochs2['deep_rate']

sleepepochs2

,new_id,date_time,RUNNING,Walking,sleep,last_time,starttime,last_time_deep,deep_rate
0,1091_mr_1,2020-10-06,5920.0,59072.0,sleep139,2220,2020-10-07 02:29:00,490.466458,0.220931
1,1091_mr_1,2020-10-06,5920.0,59072.0,sleep14,4860,2020-10-07 02:37:00,1073.723868,0.220931
2,1091_mr_1,2020-10-06,5920.0,59072.0,sleep140,180,2020-10-07 02:40:00,39.767551,0.220931
3,1091_mr_1,2020-10-06,5920.0,59072.0,sleep141,600,2020-10-07 02:42:00,132.558502,0.220931
4,1091_mr_1,2020-10-06,5920.0,59072.0,sleep142,1500,2020-10-07 02:43:00,331.396256,0.220931
...,...,...,...,...,...,...,...,...,...
31667,1102_mrw_9,2022-03-16,0.0,0.0,sleep31613,21120,2022-03-17 01:12:00,4440.000000,0.210227
31668,1102_mrw_9,2022-03-17,0.0,0.0,sleep31614,34080,2022-03-17 21:33:00,6060.000000,0.177817
31669,1102_mrw_9,2022-03-27,0.0,0.0,sleep31621,40620,2022-03-27 20:49:00,11400.000000,0.280650
31670,1102_mrw_9,2022-04-19,0.0,0.0,sleep31643,18960,2022-04-20 02:43:00,2760.000000,0.145570
31671,1102_mrw_9,2022-05-18,0.0,0.0,sleep31661,34020,2022-05-18 23:14:00,1200.000000,0.035273

In [387]:
sleepepochs2.nunique()

new_id               76
date_time           229
RUNNING             536
Walking            1613
sleep             31672
last_time           522
starttime         27175
last_time_deep      657
deep_rate          2757
dtype: int64

迴歸模型(多項式)－運動時長VS深層睡眠的時長
---

In [343]:
#單項式回歸

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X = sleepepochs2.iloc[: ,2:4].values #運動時長
y = sleepepochs2.iloc[: ,-2].values #深層睡眠的時長

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
intercep=regressor.fit(X_train, y_train).intercept_
coef=regressor.fit(X_train, y_train).coef_
print('截距：',intercep)
print('係數：',coef)
print('方程式：y={:.7f} X0+ {:.7f} X1+ {:.2f}'.format(coef[0],coef[1],intercep))
print('訓練準確度：',regressor.score(X_train,y_train))
print('模型準確度：',regressor.score(X_test,y_test))

截距： 1018.0423396979471
係數： [ -11.56 -198.51]
方程式：y=-11.5643880 X0+ -198.5136442 X1+ 1018.04
訓練準確度： 0.01814673165684333
模型準確度： 0.020238428840255174

迴歸模型(多項式)－運動時長VS深層睡眠的比率
---

In [373]:
#二項式回歸

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

X = sleepepochs2.iloc[: ,2:4].values #運動時長
y = sleepepochs2.iloc[: ,-1].values #深層睡眠的比率

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

sc = StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

poly_reg=PolynomialFeatures(degree=3)
X_poly=poly_reg.fit_transform(X_train)
lin_reg_2=LinearRegression()
lin_reg_2.fit(X_train, y_train)

y_pred = lin_reg_2.predict(X_test)
np.set_printoptions(precision=2)
intercep=lin_reg_2.fit(X_train, y_train).intercept_
coef=lin_reg_2.fit(X_train, y_train).coef_
print('截距：',intercep)
print('係數：',coef)
print('方程式：y={:.7f} X0+ {:.7f} X1+ {:.2f}'.format(coef[0],coef[1],intercep))
print('訓練準確度：',lin_reg_2.score(X_train,y_train))
print('模型準確度：',lin_reg_2.score(X_test,y_test))

截距： 0.3656402205383295
係數： [-0. -0.]
方程式：y=-0.0016256 X0+ -0.0020208 X1+ 0.37
訓練準確度： 9.997475216716456e-05
模型準確度： -0.0004006077772888972

隨機森林－將id將受測者資料平均
---

In [374]:
sleepepochs3=sleepepochs2.groupby(['new_id']).mean()
sleepepochs3['deep_rate'] = sleepepochs3['last_time_deep']/sleepepochs3['last_time']
sleepepochs3

,RUNNING,Walking,last_time,last_time_deep,deep_rate
new_id,,,,,
1091_mr_1,3274.657244,112061.886926,3360.000000,1056.825151,0.314531
1091_mr_10,20812.022388,310592.761194,3089.328358,882.275636,0.285588
1091_mr_11,339.742690,210301.105263,2569.941520,899.742672,0.350102
1091_mr_12,1129.608466,126017.925926,2926.984127,1281.359136,0.437775
1091_mr_13,2668.834821,201414.669643,2950.044643,907.272339,0.307545
...,...,...,...,...,...
1102_mrw_10,446.568998,170061.848771,3088.582231,1312.434532,0.424931
1102_mrw_12,1829.582038,129449.721934,2490.777202,903.165062,0.362604
1102_mrw_13,213.274909,143780.328727,2106.327273,855.720349,0.406262
1102_mrw_2,378.109665,124837.845725,2714.275093,1079.144894,0.397581
1102_mrw_9,24.533333,2431.233333,23553.600000,2826.023661,0.119983

In [375]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay


X = sleepepochs3.iloc[: ,:2].values #運動時長
y = sleepepochs3.iloc[: ,-2].values #深層睡眠的時長

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

randomForestModel = RandomForestRegressor(n_estimators=500, criterion = 'mse')
randomForestModel.fit(X_train,y_train)

y_pred = randomForestModel.predict(X_test)
print('訓練準確度：',randomForestModel.score(X_train,y_train))
print('測試準確度：',randomForestModel.score(X_test,y_test))

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

訓練準確度： 0.8038445706397114
測試準確度： -0.017637410768945205

隨機森林－依日期將受測者資料平均
---

In [376]:
sleepepochs4=sleepepochs2.groupby(['date_time']).mean()
sleepepochs4['deep_rate'] = sleepepochs2['last_time_deep']/sleepepochs3['last_time']
sleepepochs4

,RUNNING,Walking,last_time,last_time_deep,deep_rate
date_time,,,,,
2019-12-04,0.000000,0.000000,28920.000000,3240.000000,NaN
2020-04-06,8512.000000,81970.000000,4431.428571,1419.619902,NaN
2020-04-08,0.000000,0.000000,20280.000000,3193.780421,NaN
2020-04-09,0.000000,6.000000,5655.000000,1513.571685,NaN
2020-04-10,3079.558011,506231.773481,1867.624309,610.662414,NaN
...,...,...,...,...,...
2022-05-24,289.500000,67136.450000,3426.375000,1082.486661,NaN
2022-05-25,257.383178,102398.065421,2850.280374,1150.805123,NaN
2022-05-26,926.916667,85339.333333,2950.000000,961.110558,NaN
2022-05-27,1139.534884,179980.767442,5296.744186,1737.161738,NaN
2022-05-28,0.000000,28409.000000,4695.000000,1869.478029,NaN

In [390]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import confusion_matrix, accuracy_score, ConfusionMatrixDisplay


X = sleepepochs4.iloc[: ,:2].values #運動時長
y = sleepepochs4.iloc[: ,-2].values #深層睡眠的時長

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

randomForestModel = RandomForestRegressor(n_estimators=500, criterion = 'mse')
randomForestModel.fit(X_train,y_train)

y_pred = randomForestModel.predict(X_test)
print('訓練準確度：',randomForestModel.score(X_train,y_train))
print('測試準確度：',randomForestModel.score(X_test,y_test))

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

訓練準確度： 0.5707910205119923
測試準確度： 0.7966103779927888

In [391]:
print('特徵重要程度: ',randomForestModel.feature_importances_)
print(y_pred)

特徵重要程度:  [0.03 0.97]
[1066.27  944.55  978.14 1156.71 1033.28 2845.9  1039.64  972.55 1153.96
  976.86  891.48  923.76 1425.67 1012.34 1036.06  877.63 1198.75 1088.98
  995.87 1000.12 1101.03 1153.39 1066.78 1021.8  1396.11 8516.25 5587.93
  927.94 1115.05  952.15  855.35 1069.59 1020.18 1169.63 2845.9  1135.36
  970.68 1118.88  852.47  895.77 1114.23 2638.93  894.29 1154.15 1107.25
 1107.5 ]